name: MLflow CI Pipeline

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  train-and-build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        activate-environment: mlflow-ci-env
        environment-file: MLProject/conda.yaml
        auto-activate-base: false
    
    - name: Run MLflow Project
      run: |
        cd MLProject
        mlflow run .

    - name: Upload Model Artifact
      uses: actions/upload-artifact@v4
      with:
        name: trained-model
        path: MLProject/mlruns

    # ====================
    #    Docker Build
    # ====================
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build Docker Image using MLflow
      run: |
        cd MLProject
        mlflow models build-docker -m mlruns/0/*/artifacts/model -n mirza-mlflow-ci:latest
        docker tag mirza-mlflow-ci:latest ${{ secrets.DOCKERHUB_USERNAME }}/mirza-mlflow-ci:latest

    - name: Push to Docker Hub
      run: |
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/mirza-mlflow-ci:latest
